.custom-form {
  .el-row--flex {
    flex-wrap: wrap;
  }
  .el-form-item-label {
    line-height: 0;
  }
  .is-block {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width:680px) {
  // .el-form {
  //   .el-form-item-col {
  //     & > .el-form-item {
  //       & > .el-form-item__content {
  //         text-align: left;
  //         & > div {
  //           width: initial !important;
  //         }
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-width: 480px) {
  .el-form {
    .el-form-item-col {
      width: 100%;
    }
    .el-form-item {
      display: flex;
      flex-direction: column;
      .el-form-item__label {
        text-align: left;
        width: auto !important;
      }
      .el-form-item-label {
        div, span {
          display: inline-block;
        }
      }
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
}